@font-face {
  font-family: 'Open Sans';
  font-weight: bold;
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: normal;
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"); }

@font-face {
  font-family: 'Open Sans';
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/OpenSans-Light.ttf") format("truetype"), url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff"); }

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: bold;
  font-family: 'Open Sans', serif; }

.visually-hidden:not(focus):not(active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset 100%;
          clip-path: inset 100%;
  clip: rect(0 0 0 0);
  overflow: hidden; }

.logo-icon--nav {
  margin-left: -70px;
  margin-top: -15px; }
  .logo-icon--nav .logo-icon__text {
    fill: #ffffff; }
  .logo-icon--nav .logo-icon__stars {
    display: none; }
  .logo-icon--nav .logo-icon__glasses {
    display: none; }

.logo-icon--footer:hover .logo-icon__text {
  fill: #d22856; }

.logo-icon--footer:active {
  opacity: 0.3; }

.logo-icon--footer .logo-icon__text {
  fill: #283645; }

.logo-icon--footer .logo-icon__glasses {
  fill: #d22856; }

.logo-icon--footer .logo-icon__stars {
  display: none; }

.logo-icon {
  cursor: pointer; }

@media (min-width: 768px) {
  .logo-icon--nav {
    width: 147px;
    height: 43px;
    margin: 0; }
    .logo-icon--nav .logo-icon__glasses {
      display: block;
      fill: #ffffff; }
    .logo-icon--nav:hover use {
      fill: #d22856; }
    .logo-icon--nav:active use {
      opacity: 0.3;
      fill: #fff; } }

@media (min-width: 1200px) {
  .logo-icon--nav .logo-icon__stars {
    display: block;
    fill: #d22856;
    stroke: rgba(0, 0, 0, 0.5); }
  .logo-icon--footer .logo-icon__stars {
    display: block;
    stroke: rgba(255, 255, 255, 0.5); } }

.main-nav__list {
  min-width: 320px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  line-height: 18px; }

.main-nav__link {
  display: block;
  min-width: 280px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  background-color: #283645; }

.main-nav__logo {
  min-width: 280px;
  height: 22px;
  padding-top: 21px;
  padding-right: 20px;
  padding-bottom: 25px;
  padding-left: 20px;
  background-color: #283645;
  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000; }

.main-nav__close-btn {
  float: right;
  cursor: pointer;
  fill: #ffffff; }

.main-nav__burger {
  display: none; }

@media (max-width: 1200px) {
  .main-nav__list--opened .main-nav__link {
    height: 15px;
    padding-top: 21px;
    padding-bottom: 25px;
    font-size: 18px;
    border-top: 1px solid #485461;
    border-bottom: 1px solid #000000;
    transition: all 0.3s ease; }
  .main-nav__list--closed .main-nav__link {
    height: 0;
    padding: 0;
    font-size: 0;
    border: none;
    transition: all 0.3s ease; }
  .main-nav__list--closed .main-nav__logo {
    position: absolute;
    z-index: 2;
    width: 88%;
    padding-right: 6%;
    padding-left: 6%;
    background-color: rgba(0, 0, 0, 0.3);
    border: none; }
  .main-nav__list--closed .main-nav__close-btn {
    display: none; }
  .main-nav__list--closed .main-nav__burger {
    display: block;
    float: right;
    cursor: pointer;
    fill: #ffffff; }
    .main-nav__list--closed .main-nav__burger:hover {
      fill: #d22856; }
    .main-nav__list--closed .main-nav__burger:active {
      opacity: 0.3;
      fill: #d22856; } }

@media (min-width: 768px) {
  .main-nav__logo {
    height: 62px;
    padding-top: 26px;
    padding-right: 60px;
    padding-bottom: 20px;
    padding-left: 60px; }
  .main-nav__close-btn {
    margin-top: 17px; }
  .main-nav__burger {
    margin-top: 15px; } }

@media (min-width: 1200px) {
  .main-nav {
    position: absolute;
    z-index: 2;
    width: 80%;
    padding: 0 10%;
    background-color: rgba(0, 0, 0, 0.3); }
  .main-nav__list {
    display: flex;
    width: 80%;
    min-width: 960px;
    margin: 0 auto;
    overflow: hidden;
    line-height: 14px; }
  .main-nav__logo {
    width: 21%;
    min-width: 210px;
    margin-right: 65px;
    padding-right: 0;
    padding-left: 0;
    background-color: rgba(0, 0, 0, 0);
    border: none; }
  .main-nav__link {
    min-width: auto;
    margin-top: 47px;
    margin-bottom: 47px;
    padding: 0;
    font-weight: normal;
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0);
    border: none; }
    .main-nav__link:hover {
      color: #d22856; }
  .main-nav__link--active span {
    display: inline-block;
    padding-bottom: 10px;
    cursor: default;
    border-bottom: 2px solid #ffffff; }
  .main-nav__link--active:hover {
    color: #fff; }
  .main-nav__item {
    width: 16%;
    min-width: 160px;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0); }
  .main-nav__close-btn {
    display: none; }
  .main-nav__burger {
    display: none; } }

@media (min-width: 1800px) {
  .main-nav__link {
    font-size: 24px; } }

.intro {
  position: relative; }

.intro__image {
  height: 462px;
  overflow: hidden;
  background-color: #2c3949;
  background-image: url(../img/main-handphone.png), url(../img/main-back-tablet.jpg);
  background-repeat: no-repeat;
  background-position: 85% 120%, center center;
  background-size: 512px , cover; }

.inner-page .intro__image {
  height: 237px;
  background-image: url(../img/Inner-page__main-back-tablet.jpg);
  background-position: center top;
  background-size: cover; }

.intro__title {
  margin-top: 95px;
  padding: 0 20px;
  font-weight: 200;
  font-size: 24px;
  text-align: center;
  color: #ffffff; }

@media (min-width: 768px) {
  .intro__image {
    height: 729px;
    background-position: 30% 100%, center center;
    background-size: 890px, cover; }
  .inner-page .intro__image {
    height: 440px;
    background-image: url(../img/Inner-page__main-back-tablet.jpg);
    background-position: center top;
    background-size: cover; }
  .intro__title {
    margin-top: 180px;
    padding-left: 60px;
    padding-right: 60px;
    font-size: 50px;
    line-height: 60px; } }

@media (min-width: 1200px) {
  .intro__image {
    height: 853px;
    background-image: url(../img/main-handphone.png), url(../img/main-background.jpg);
    background-position: 100% 100%, center center;
    background-size: 1053px, cover; }
  .inner-page .intro__image {
    height: 395px;
    background-image: url(../img/Inner-page__main-back-desktop.jpg);
    background-position: center top;
    background-size: cover; }
  .intro__title {
    padding: 0 120px; } }

.download-app {
  padding-top: 28px;
  padding-right: 20px;
  padding-bottom: 30px;
  padding-left: 20px;
  background-color: #1d2631; }

.download-app__title {
  display: none; }

.download-app__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 28px;
  padding: 0;
  list-style-type: none; }

.download-app__btn {
  display: block;
  width: 233px;
  margin: 0 auto;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 16px;
  padding-left: 20px;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  border: 4px solid #ffffff;
  border-radius: 40px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .download-app__btn:hover {
    color: #d22856;
    background-color: #ffffff;
    box-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.75); }
  .download-app__btn:active {
    color: rgba(210, 40, 86, 0.3); }

.download-app__item {
  margin-right: 30px;
  margin-left: 15px; }
  .download-app__item:last-child {
    margin-right: 0; }

.download-app__apple {
  background-image: url(../img/icon-downl__apple.svg); }

.download-app__android {
  background-image: url(../img/icon-downl__android.svg); }

.download-app__windows {
  background-image: url(../img/icon-downl__windows.svg); }

.download-app__android,
.download-app__apple,
.download-app__windows {
  display: block;
  width: 47px;
  height: 56px;
  background-repeat: no-repeat;
  background-position: center center; }

.download-app__info {
  font-weight: 200;
  text-align: center;
  color: #ffffff;
  text-transform: none; }

@media (min-width: 768px) {
  .download-app__title {
    display: block;
    font-weight: 200;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
    padding: 0 40px;
    margin-bottom: 35px;
    margin-top: 0; }
  .download-app__list {
    margin-top: 52px;
    margin-bottom: 32px; }
  .download-app {
    position: absolute;
    top: 170px;
    left: 3%;
    width: 310px;
    height: 440px;
    background-color: transparent; }
  .download-app__btn {
    width: 272px; }
  .download-app__info {
    font-size: 18px; } }

@media (min-width: 1200px) {
  .download-app {
    height: 550px;
    top: 180px;
    left: 15%; }
  .download-app__title {
    font-size: 50px;
    margin-bottom: 60px; }
  .download-app__list {
    margin-top: 75px; } }

.page-main__title {
  margin-top: 0;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: 200;
  font-size: 24px;
  text-align: center;
  color: #283645; }

.page-main {
  padding-top: 46px; }

.inner-page .page-main__title {
  margin-bottom: 47px;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  color: #283645; }

@media (min-width: 768px) {
  .page-main__title {
    margin-bottom: 45px;
    font-size: 40px;
    line-height: 40px; }
  .inner-page .page-main {
    padding-top: 85px; }
  .inner-page .page-main__title {
    margin-bottom: 85px;
    padding-right: 60px;
    padding-left: 60px;
    font-size: 18px; }
  .inner-page .page-main__title--your-photo {
    margin-bottom: 68px; } }

@media (min-width: 1200px) {
  .page-main {
    padding-top: 60px; }
  .page-main__title {
    padding-right: 120px;
    padding-left: 120px; }
  .inner-page .page-main {
    padding-top: 90px; }
  .inner-page .page-main__title {
    margin-bottom: 90px;
    padding-right: 120px;
    padding-left: 120px; } }

.features {
  padding-top: 84px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #ffffff;
  background-image: url(../img/features-back.png);
  background-repeat: no-repeat;
  background-position: 100% 2px;
  background-size: cover; }

.features__item {
  text-align: center; }

.features__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
  text-align: center; }

.features__text {
  margin-top: 8px;
  margin-bottom: 24px;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
  color: #283645; }

.features__phone {
  width: 280px;
  height: 293px;
  margin: 0 auto;
  background-image: url(../img/features-phone.png);
  background-repeat: no-repeat;
  background-position: 50% -40%;
  background-size: 157px; }

@media (min-width: 768px) {
  .features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0; }
  .features__phone {
    order: -1;
    width: 300px;
    height: 485px;
    margin: 0;
    margin-right: 40px;
    background-position: 50% -40%;
    background-size: 268px; }
  .features__item {
    width: 310px;
    margin-bottom: 30px;
    text-align: left; }
    .features__item:first-child {
      margin-top: 70px; }
  .features__text {
    margin-bottom: 0;
    line-height: 25px; }
  .features__item-wrapper {
    display: flex;
    flex-direction: column; } }

@media (min-width: 1200px) {
  .features {
    flex-direction: column;
    padding-right: 120px;
    padding-left: 120px; }
  .features__item-wrapper {
    flex-direction: row;
    justify-content: space-around;
    width: 960px;
    margin: 0 auto;
    margin-bottom: 50px; }
  .features__item {
    width: 240px;
    margin-bottom: 0; }
    .features__item:first-child {
      margin-top: 0; }
  .features__title {
    margin-top: 55px;
    font-size: 30px;
    line-height: 30px; }
  .features__text {
    margin-top: 22px;
    font-size: 18px;
    line-height: 30px; }
  .features__phone {
    width: 960px;
    margin: 0 auto;
    background-image: url(../img/features-shadow.png), url(../img/features-phone--desk1.png), url(../img/features-phone--desk2.png), url(../img/features-phone.png);
    background-repeat: repeat-x, no-repeat, no-repeat, no-repeat;
    background-position: 1% 477px, 9% 146%, 50% 146%, 90% 146%;
    background-size: 315px, 186px, 186px, 186px; } }

.review {
  height: 300px;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 20px;
  overflow: hidden;
  line-height: 30px;
  text-align: center; }

.review__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px; }

.review__text {
  font-weight: normal;
  font-size: 14px;
  color: #283645; }

.review__author-info {
  display: none; }

.swiper-container {
  width: 280px;
  height: 300px; }

.swiper-wrapper {
  width: 6000px; }

.swiper-button-prev,
.swiper-button-next {
  display: none; }

.review__item {
  height: 300px; }

.swiper-pagination {
  -webkit-tap-highlight-color: transparent; }

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  vertical-align: middle;
  background-color: #bec2c7;
  opacity: 1; }

.swiper-pagination-bullet-active {
  background-color: #ffffff;
  border: 3px solid #283645; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px; }

@media (min-width: 768px) {
  .review {
    padding-top: 20px;
    padding-right: 60px;
    padding-left: 60px; }
  .swiper-container {
    width: 640px; }
  .review__author-info {
    display: inline;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    color: #283645; }
  .review__title {
    margin-bottom: 0; }
  .review__item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  .review__text {
    order: -1;
    font-size: 18px; }
  .review__author {
    margin-bottom: 30px; }
  .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 40px; } }

@media (min-width: 1200px) {
  .review {
    position: relative;
    height: 250px;
    padding-top: 170px;
    padding-right: 120px;
    padding-left: 120px;
    background-image: url(../img/review__back--desk.svg);
    background-repeat: no-repeat;
    background-position: center 15%;
    background-size: 79px; }
  .review__title {
    font-size: 24px; }
  .review__text {
    margin-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px; }
  .swiper-button-prev,
  .swiper-button-next {
    top: 57%;
    display: block;
    background-image: none; }
  .review__left-arrow {
    fill: #bec2c7; }
    .review__left-arrow:hover {
      fill: #7e868f; }
    .review__left-arrow:active {
      opacity: 0.5; }
  .review__right-arrow {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    fill: #bec2c7; }
    .review__right-arrow:hover {
      fill: #7e868f; }
    .review__right-arrow:active {
      opacity: 0.5; }
  .swiper-button-prev {
    left: 130px; }
  .swiper-button-next {
    right: 130px; }
  .swiper-pagination {
    display: none; }
  .swiper-container {
    position: static;
    width: 820px; } }

.contacts {
  padding-right: 20px;
  padding-left: 20px; }

.contacts__title {
  margin-top: 48px;
  margin-bottom: 30px;
  font-weight: 200;
  font-size: 24px;
  text-align: center;
  color: #283645; }
  .contacts__title br {
    display: none; }

.contacts__subtitle {
  margin-top: 0;
  margin-bottom: 0;
  padding-right: 20px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  color: #283645; }

.contacts__info {
  display: block;
  font-weight: 200;
  font-size: 24px;
  text-align: center;
  color: #d22856; }

.contacts__mail:hover {
  color: #000000;
  text-decoration: underline;
  cursor: pointer; }

.contacts__mail:active {
  color: rgba(0, 0, 0, 0.3); }

.contacts__item {
  margin-bottom: 13px; }

.map {
  height: 220px;
  background-image: url(../img/map-triangle.svg), url(../img/map-market.svg), url(../img/map.png);
  background-repeat: no-repeat;
  background-position: 50% -70px, center 115px, center -425px;
  background-size: 1200px ,36px, 1200px; }

@media (min-width: 768px) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .contacts__title {
    flex-basis: 100%;
    font-size: 40px;
    line-height: 40px; }
    .contacts__title br {
      display: block; }
  .contacts__item {
    width: 360px; }
    .contacts__item:last-child {
      margin-top: 30px; }
  .map {
    height: 380px;
    background-position: 50% -37px,center 197px,center -340px; } }

@media (min-width: 1200px) {
  .contacts__item:last-child {
    margin-top: 0;
    order: 0; }
  .map {
    height: 500px;
    background-size: 1200px ,36px, 1440px;
    background-position: 50% -1px, center 197px, center -435px; } }

.price {
  height: 300px;
  padding-top: 105px;
  overflow: scroll;
  background-color: #ffffff;
  background-image: url(../img/features-back.png);
  background-repeat: no-repeat;
  background-position: center -4px;
  background-size: cover; }

.price__wrapper {
  width: 660px;
  margin: 0 auto; }

.price__table {
  border-collapse: collapse; }
  .price__table th {
    height: 77px;
    padding: 0 20px;
    font-weight: bold;
    font-size: 16px;
    color: #ffffff;
    background-color: #283645;
    border-right: 2px solid #f2f2f2; }
  .price__table td {
    width: 152px;
    height: 45px;
    padding-right: 15px;
    padding-left: 20px;
    font-weight: normal;
    font-size: 14px;
    color: #283645;
    background-color: #ffffff;
    border: 2px solid #e5e5e5; }

.price__base {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px; }

.price__standart {
  background-image: url(../img/price__standard--hit.png);
  background-repeat: no-repeat;
  background-position: -5px -8px;
  background-size: 74px; }

.price__unlim {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px; }

.price__cost {
  display: block;
  font-weight: 200;
  font-size: 18px;
  color: #f1f2f3; }

.hidden {
  opacity: 0; }

.on {
  background-image: url(../img/table-on.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 31px; }

.off {
  background-image: url(../img/table-off.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 27px; }

.price__btn-wrapper {
  display: none; }

.text-hidden {
  display: none; }

@media (max-width: 767px) {
  .price {
    height: 360px; }
  .price__cost {
    font-size: 24px; }
  .price__wrapper {
    width: 320px;
    margin: 0 auto;
    overflow: hidden; }
  .price__table {
    width: 830px;
    margin-left: -254px;
    transition: all 0.4s ease; }
    .price__table th {
      height: 93px;
      font-size: 18px; }
    .price__table tr td:first-child {
      display: none; }
  .hidden {
    display: none; }
  .price__btn-wrapper {
    display: block;
    width: 104px;
    margin: 0 auto;
    margin-top: 43px;
    margin-bottom: 43px;
    padding: 0 20px; }
    .price__btn-wrapper input {
      z-index: -1;
      opacity: 0; }
    .price__btn-wrapper label {
      margin-right: 10px; }
  .price__btn {
    position: relative;
    cursor: pointer; }
    .price__btn::before {
      content: "";
      position: absolute;
      bottom: 7px;
      left: -17px;
      width: 10px;
      height: 10px;
      background-color: #bec2c7;
      border-radius: 10px; }
    .price__btn::after {
      content: "";
      position: absolute;
      bottom: 4px;
      left: -20px;
      width: 10px;
      height: 10px;
      background-color: #ffffff;
      border: 3px solid #000000;
      border-radius: 10px;
      opacity: 0; }
  .price__btn-wrapper input:checked + .price__btn::after {
    opacity: 1; }
  .on {
    background-position: 91% center;
    background-size: 31px; }
  .off {
    background-position: 91% center;
    background-size: 27px; }
  .text-hidden {
    display: inline;
    font-weight: normal;
    font-size: 14px;
    color: #283645; }
  .price__standart {
    background-position: 0 0; } }

@media (min-width: 1200px) {
  .price {
    padding-right: 120px;
    padding-left: 120px; }
  .price__wrapper {
    width: 960px;
    padding: 0 10px; }
  .price__table {
    width: 940px; } }

.effect {
  display: none; }

@media (min-width: 768px) {
  .effect {
    display: flex;
    justify-content: center;
    padding: 0 20px;
    margin-top: 60px; }
  .effect__descr {
    width: 350px;
    text-align: left; }
  .effect__title {
    font-size: 30px;
    line-height: 36px;
    margin-bottom: 6px; }
  .effect__text {
    font-size: 14px;
    line-height: 24px;
    color: #283645;
    font-weight: normal;
    margin-bottom: 4px;
    padding-right: 42px; }
  .effect__info {
    color: #d22856; }
  .effect__img {
    width: 350px;
    height: 350px;
    background-image: url(../img/effect__timer.svg);
    background-repeat: no-repeat;
    background-size: 256px;
    background-position: 40% top; } }

@media (min-width: 1200px) {
  .effect {
    height: 415px;
    background-color: #f2f2f2;
    margin-top: 0;
    padding-left: 120px;
    padding-right: 120px; }
  .effect__img {
    width: 400px;
    background-size: 300px;
    background-position: left top; }
  .effect__descr {
    width: 560px;
    margin-top: 50px; }
    .effect__descr br {
      display: none; }
  .effect__text {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 24px; } }

.gallery__container {
  padding: 0 20px; }

.gallery__item {
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: #f2f2f2; }
  .gallery__item img {
    width: 100%; }

.gallery__main-item {
  width: auto;
  background-color: #fff; }
  .gallery__main-item img {
    width: 100%; }

.gallery {
  margin-bottom: 45px; }

@media (min-width: 768px) {
  .gallery__container {
    display: flex;
    padding: 0 60px;
    flex-wrap: wrap;
    justify-content: space-between; }
  .gallery__item {
    margin: 0;
    margin-bottom: 20px; } }

@media (min-width: 960px) {
  .gallery__container {
    padding: 0 10%;
    justify-content: space-around; } }

@media (min-width: 1200px) {
  .gallery__container {
    justify-content: space-between; }
  .gallery__item {
    margin-right: 20px; }
    .gallery__item:nth-child(4n), .gallery__item:nth-child(7n) {
      margin-right: 0; }
  .gallery__main-item {
    width: 1200px;
    margin: 0 auto; } }

@media (min-width: 1470px) {
  .gallery__container {
    justify-content: center; }
  .gallery__item:nth-child(4n) {
    margin-right: 20px; } }

.photo__info {
  padding: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #283645;
  background-color: #f2f2f2; }

.photo__info--panorama {
  margin-bottom: 20px;
  min-width: 240px;
  width: 87%; }

.photo__author {
  font-weight: bold; }
  .photo__author span {
    font-weight: 200; }

.photo__descr {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: normal; }

.photo__img {
  position: relative;
  font-size: 0;
  line-height: 0; }

.photo__panorama {
  position: absolute;
  top: 0;
  right: 6%;
  display: block;
  width: 140px;
  height: 24px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: bold;
  font-size: 12px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #d22856; }

.photo__like {
  padding-left: 30px;
  font-weight: normal;
  font-size: 12px;
  color: #d22856;
  text-transform: uppercase;
  background-image: url(../img/photo__like.svg);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 13px; }

@media (min-width: 768px) {
  .photo {
    display: flex;
    flex-direction: column; }
  .photo__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 100%;
    padding-top: 25px;
    padding-left: 27px; }
  .photo__like {
    padding-left: 0;
    background-position: right center; }
  .photo__info--panorama {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 100%; }
    .photo__info--panorama .photo__like {
      order: -1;
      padding-right: 30px;
      padding-left: 0;
      background-position: right center; }
    .photo__info--panorama .photo__author {
      order: -2; }
    .photo__info--panorama .photo__descr {
      flex-basis: 100%;
      flex-grow: 1; }
  .photo__panorama {
    top: 10%;
    right: 3%; } }

.your-photo {
  max-width: 940px;
  margin: 0 auto;
  padding-top: 20px;
  background-color: #f2f2f2; }

.your-photo__img {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 0;
  line-height: 0; }

.your-photo__button {
  width: 280px;
  padding: 15px 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  color: #d22856;
  background-color: #f2f2f2;
  border-radius: 35px;
  outline: none;
  cursor: pointer; }

.your-photo__button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 38px;
  padding-right: 20px;
  padding-bottom: 41px;
  padding-left: 20px; }

.your-photo__button--post {
  margin-bottom: 12px;
  border: 3px solid #d22856; }
  .your-photo__button--post:hover {
    color: #ffffff;
    background-color: #d22856; }
  .your-photo__button--post:active {
    color: rgba(255, 255, 255, 0.3); }

.your-photo__button--cancel {
  color: rgba(40, 54, 69, 0.1);
  border: 3px solid #dddfe0; }
  .your-photo__button--cancel:hover {
    color: rgba(40, 54, 69, 0.3);
    border: 3px solid #b5b9be; }
  .your-photo__button--cancel:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #b5b9be; }

.your-photo__tools {
  margin-top: 20px; }

@media (min-width: 768px) {
  .your-photo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 400px;
    padding-top: 57px;
    padding-right: 60px;
    padding-bottom: 54px;
    padding-left: 60px; }
  .your-photo__button-wrapper {
    align-items: flex-start;
    width: 45%;
    margin: 0 auto;
    padding-bottom: 0; }
  .your-photo__img {
    width: 300px;
    padding: 0; }
  .your-photo__button {
    width: 260px; } }

@media (min-width: 1200px) {
  .your-photo__button-wrapper {
    flex-direction: row;
    justify-content: space-between; }
  .your-photo__button {
    width: 183px; }
  .your-photo {
    margin-bottom: 75px; } }

.tools {
  width: 280px;
  margin: 0 auto;
  padding: 20px;
  border-bottom: 1px solid #dddfe0; }

.tools-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 20px;
  padding: 0 20px; }

.icon-crop,
.icon-fill,
.icon-contrast {
  cursor: pointer;
  fill: #b5b9be; }
  .icon-crop:hover,
  .icon-fill:hover,
  .icon-contrast:hover {
    fill: #8d949b; }

.active-tool {
  fill: #d22856; }
  .active-tool:hover {
    fill: #d22856; }

.sliders {
  margin-bottom: 14px; }

.slider__line {
  position: relative;
  width: 240px;
  height: 2px;
  margin: 0 auto;
  background-color: #283645; }

.slider__mark {
  position: absolute;
  top: -6px;
  left: 140px;
  cursor: pointer; }

.slider__line--contrast,
.slider__line--fill {
  display: none; }

@media (min-width: 768px) {
  .tools {
    display: flex;
    width: 45%;
    height: 200px;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 20px; }
  .tools-wrapper {
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    margin: 0;
    margin-right: 20px;
    padding: 0; }
  .icon-crop,
  .icon-fill,
  .icon-contrast {
    fill: #d22856; }
    .icon-crop:hover,
    .icon-fill:hover,
    .icon-contrast:hover {
      fill: #d22856; }
  .icon-crop,
  .icon-fill {
    width: 24px;
    height: 24px; }
  .icon-contrast {
    width: 16px;
    height: 16px; }
  .slider__line--contrast,
  .slider__line--fill {
    display: block; }
  .slider__line--crop {
    margin-top: 29px; }
  .slider__line--fill {
    margin-top: 65px; }
    .slider__line--fill .slider__mark {
      left: 20px; }
  .slider__line--contrast {
    margin-top: 66px; }
    .slider__line--contrast .slider__mark {
      left: 80px; } }

@media (min-width: 1200px) {
  .icon-crop,
  .icon-fill {
    width: 48px;
    height: 48px; }
  .icon-contrast {
    width: 32px;
    height: 32px; }
  .slider__line {
    width: 288px; } }

.contest__title {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645; }
  .contest__title span {
    display: none; }

.form input {
  border: none;
  outline: none; }

fieldset {
  margin: 0;
  padding-top: 24px;
  padding-right: 6%;
  padding-left: 6%;
  border: none; }
  fieldset legend {
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #d22856;
    text-transform: uppercase; }

.fullname {
  width: 280px;
  margin: 0 auto;
  padding-bottom: 44px;
  line-height: 30px; }
  .fullname label {
    padding-left: 20px;
    font-weight: normal;
    font-size: 14px;
    color: #d22856;
    text-transform: uppercase; }
  .fullname input {
    box-sizing: border-box;
    height: 59px;
    padding: 0 20px;
    font-weight: normal;
    font-size: 18px;
    color: #283645;
    background-color: #ffffff;
    border: 2px solid #e5e5e5; }
    .fullname input:hover {
      border: 2px solid #283645; }
    .fullname input:focus {
      border: 2px solid #d22856; }
  .fullname p {
    margin-top: 0;
    margin-bottom: 20px; }
    .fullname p:last-child {
      margin-bottom: 0; }

.fullname__name {
  width: 280px; }

.fullname__surname {
  width: 280px; }

.fullname__patronymic {
  width: 280px; }

.fullname__name:focus,
.fullname__patronymic:focus,
.fullname__surname:focus {
  background-color: #ffffff; }
  .fullname__name:focus:hover,
  .fullname__patronymic:focus:hover,
  .fullname__surname:focus:hover {
    background-color: #ffffff; }

.contacts-form {
  padding-top: 34px;
  padding-bottom: 0; }
  .contacts-form label {
    padding-left: 20px;
    font-weight: normal;
    font-size: 14px;
    color: #d22856;
    text-transform: uppercase; }
  .contacts-form input {
    display: block;
    height: 56px;
    margin-top: 5px;
    padding-left: 20px;
    font-weight: normal;
    font-size: 18px;
    color: #000000;
    background-color: #ffffff;
    border: 2px solid #e5e5e5; }
  .contacts-form p {
    margin-top: 0;
    margin-bottom: 10px; }
    .contacts-form p:last-child {
      margin-bottom: 0; }

.contacts-form__title {
  display: none;
  color: #d22856; }

.contacts-form__wrapper {
  width: 280px;
  margin: 0 auto; }

.contacts-form__phone {
  width: 255px; }

.contacts-form__email {
  width: 255px; }

.app {
  padding-bottom: 20px;
  background-color: #f2f2f2; }
  .app p {
    margin: 0; }

.app__title {
  position: relative;
  top: 50px;
  margin-bottom: 40px;
  line-height: 18px; }

.app__wrapper {
  width: 280px;
  margin: 0 auto; }

.radio input {
  z-index: -1;
  opacity: 0; }

.radio__text {
  position: relative;
  display: inline-block;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 45px;
  font-weight: normal;
  font-size: 18px;
  color: #000000;
  text-transform: none;
  cursor: pointer; }
  .radio__text::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -25px;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 50%; }
  .radio__text:hover::before {
    border: 2px solid #283645; }
  .radio__text::after {
    content: "";
    position: absolute;
    top: 6px;
    left: -13px;
    width: 15px;
    height: 15px;
    background-color: #d22856;
    border-radius: 50%;
    opacity: 0; }

.radio input:checked + .radio__text::after {
  opacity: 1; }

.radio input:checked + .radio__text::before {
  border: 2px solid #d22856; }

.progress {
  padding-top: 40px;
  padding-right: 20px;
  padding-bottom: 26px;
  padding-left: 20px;
  background-color: #f2f2f2; }
  .progress p {
    margin: 0; }

.progress__wrapper {
  width: 280px;
  margin: 0 auto; }

.progress__title {
  position: relative;
  top: 60px;
  width: 240px;
  margin-bottom: 50px;
  padding-right: 20px;
  padding-left: 20px;
  line-height: 18px; }

.checkbox input {
  z-index: -1;
  opacity: 0; }

.checkbox__text {
  position: relative;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 22px;
  padding-left: 46px;
  font-weight: normal;
  font-size: 18px;
  color: #283645;
  text-transform: none;
  cursor: pointer; }
  .checkbox__text::before {
    content: "";
    position: absolute;
    top: -3px;
    left: -24px;
    width: 35px;
    height: 35px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5;
    border-radius: 10%; }
  .checkbox__text:hover::before {
    border: 2px solid #283645; }

.checkbox input:checked + .checkbox__text::before {
  background-image: url(../img/checkbox.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 22px 16px; }

.checkbox input:checked + .checkbox__text::before {
  border: 2px solid #d22856; }

.emotions__wrapper {
  width: 280px;
  margin: 0 auto; }

.emotions {
  padding-bottom: 0; }

.emotions__title {
  position: relative;
  top: 30px;
  margin-bottom: 30px; }

.emotions__textarea {
  width: 236px;
  font-size: 18px;
  margin-bottom: 42px;
  padding: 20px;
  background-color: #f2f2f2;
  border: 2px solid #e5e5e5; }
  .emotions__textarea::-webkit-input-placeholder {
    font-weight: normal;
    font-size: 18px;
    font-family: "Open Sans", serif;
    color: #283645; }
  .emotions__textarea:-ms-input-placeholder {
    font-weight: normal;
    font-size: 18px;
    font-family: "Open Sans", serif;
    color: #283645; }
  .emotions__textarea::-ms-input-placeholder {
    font-weight: normal;
    font-size: 18px;
    font-family: "Open Sans", serif;
    color: #283645; }
  .emotions__textarea::placeholder {
    font-weight: normal;
    font-size: 18px;
    font-family: "Open Sans", serif;
    color: #283645; }

.btn-contest__wrapper {
  width: 280px;
  margin: 0 auto; }

.btn-contest--review {
  width: 280px;
  height: 58px;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #2aab6d;
  border-radius: 2px;
  cursor: pointer; }
  .btn-contest--review:hover {
    background-color: #1c9b5e; }
  .btn-contest--review:active {
    color: rgba(255, 255, 255, 0.3); }
  .btn-contest--review:disabled {
    background-color: #e5e5e5;
    opacity: 1; }

.remark {
  width: 200px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 14px;
  color: #283645;
  text-transform: uppercase; }
  .remark span {
    color: #d22856; }

@media (min-width: 768px) {
  .contest__title {
    width: 400px;
    padding: 0 60px;
    font-size: 18px; }
    .contest__title span {
      display: inline; }
  .form {
    display: flex;
    flex-direction: column;
    padding-top: 65px;
    padding-right: 60px;
    padding-left: 60px; }
  .fullname {
    order: -3;
    width: 648px;
    margin: 0 auto;
    margin-bottom: 13px;
    padding-right: 0;
    padding-left: 0; }
    .fullname p {
      margin-bottom: 52px; }
  .fullname__surname {
    width: 525px;
    margin-left: 20px; }
  .fullname__name {
    width: 568px;
    margin-left: 20px; }
  .fullname__patronymic {
    width: 527px;
    margin-left: 20px; }
  .app {
    order: -2;
    width: 524px;
    margin: 0 auto;
    padding-right: 60px;
    padding-left: 60px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5; }
  .app__title {
    position: static;
    margin-bottom: 10px;
    padding: 0 25px; }
  .app__wrapper {
    width: auto;
    margin: 0; }
  .progress {
    width: 524px;
    margin: 0 auto;
    margin-top: 61px;
    margin-bottom: 68px;
    padding-right: 60px;
    padding-left: 60px;
    background-color: #ffffff;
    border: 2px solid #e5e5e5; }
  .progress__title {
    position: static;
    width: 395px;
    margin-bottom: 0; }
  .progress__wrapper {
    width: auto;
    margin: 0; }
  .contacts-form {
    order: -1;
    width: 528px;
    margin: 0 auto;
    margin-top: 55px;
    padding-right: 58px;
    padding-left: 58px;
    border: 2px solid #e5e5e5; }
  .contacts-form__title {
    display: block;
    padding-right: 30px;
    padding-left: 30px; }
  .contacts-form__wrapper {
    width: auto;
    margin: 0; }
  .contacts-form__phone {
    width: 442px;
    padding-right: 60px;
    background-image: url(../img/form-phone.svg);
    background-repeat: no-repeat;
    background-position: right center;
    border-radius: 2px; }
  .contacts-form__email {
    width: 442px;
    padding-right: 60px;
    background-image: url(../img/form-email.svg);
    background-repeat: no-repeat;
    background-position: right center;
    border-radius: 2px; }
  .emotions {
    width: 524px;
    margin: 0 auto;
    margin-bottom: 70px;
    padding-right: 60px;
    padding-left: 60px;
    border: 2px solid #e5e5e5; }
  .emotions__wrapper {
    width: auto;
    margin: 0; }
  .emotions__title {
    position: static;
    margin-bottom: 0;
    padding-right: 38px;
    padding-left: 38px; }
  .emotions__textarea {
    width: 92%;
    min-height: 148px;
    background-color: #ffffff; }
  .remark {
    margin-top: 20px;
    margin-right: 0;
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 14px; }
  .btn-contest__wrapper {
    display: flex;
    justify-content: space-between;
    width: 648px; }
  .btn-contest--review {
    width: 300px;
    margin-left: 0; } }

@media (min-width: 1200px) {
  .contest__title {
    width: 760px;
    padding: 0 120px; }
  .form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px; }
  .fullname {
    width: 413px;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0; }
    .fullname p {
      margin-bottom: 56px; }
  .fullname__name {
    width: 333px; }
  .fullname__surname {
    width: 292px; }
  .fullname__patronymic {
    width: 292px; }
  .app {
    width: 315px;
    margin: 0; }
  .app__title {
    width: 318px;
    padding: 0 20px; }
  .contacts-form {
    flex-basis: 100%; }
  .contacts-form__phone {
    width: 283px; }
  .contacts-form__email {
    width: 283px; }
  .contacts-form__wrapper {
    display: flex;
    justify-content: space-between; }
  .progress {
    flex-basis: 100%;
    padding-top: 20px;
    padding-bottom: 38px; }
  .progress__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .progress__wrapper p {
      width: 260px; }
  .checkbox__text {
    padding-left: 37px; }
  .emotions {
    flex-basis: 100%;
    padding-top: 30px; }
  .btn-contest__wrapper {
    width: 100%; } }

.error-popup {
  position: fixed;
  top: 40%;
  left: 50%;
  z-index: 9;
  display: none;
  width: 280px;
  margin-top: -140px;
  margin-left: -160px;
  padding-top: 35px;
  padding-right: 20px;
  padding-bottom: 45px;
  padding-left: 20px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15); }

.error-popup--open {
  display: block;
  -webkit-animation: shake 0.4s;
          animation: shake 0.4s; }

.error-popup__title {
  margin-top: 0;
  margin-bottom: 26px;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px; }

.error-popup__text {
  margin-top: 0;
  margin-bottom: 33px;
  padding: 0 3px;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #283645; }

.error-popup__btn {
  width: 245px;
  height: 58px;
  margin: 0 auto;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  background-color: #2aab6d;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer; }
  .error-popup__btn:hover {
    background-color: #1c9b5e; }
  .error-popup__btn:active {
    color: rgba(255, 255, 255, 0.3); }

.success-popup {
  position: fixed;
  top: 40%;
  left: 50%;
  z-index: 9;
  display: none;
  width: 320px;
  margin-top: -161px;
  margin-left: -160px;
  padding-top: 39px;
  overflow: hidden;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, 0.15); }

.success-popup__wrapper {
  padding: 0 20px; }

.success-popup--open {
  display: block;
  -webkit-animation: bounce 0.5s;
          animation: bounce 0.5s; }

.success-popup__title {
  margin-top: 0;
  margin-bottom: 29px;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px; }

.success-popup__text {
  margin-top: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px; }

.success-popup__btn {
  width: 280px;
  height: 58px;
  margin: 0 auto;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  color: #ffffff;
  background-color: #2aab6d;
  border: none;
  border-radius: 2px;
  outline: none;
  cursor: pointer; }

.success-popup__btn-wrapper {
  padding: 50px 20px;
  background-color: #e5e5e5; }

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }

.overlay--open {
  display: block; }

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  30% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px); }
  50% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px); }
  70% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px); }
  90% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  30% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px); }
  50% {
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px); }
  70% {
    -webkit-transform: translateX(15px);
            transform: translateX(15px); }
  90% {
    -webkit-transform: translateX(-15px);
            transform: translateX(-15px); }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0); } }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px); }
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@media (min-width: 768px) {
  .error-popup {
    width: 340px;
    margin-left: -230px;
    padding-top: 35px;
    padding-right: 60px;
    padding-bottom: 49px;
    padding-left: 60px; }
  .error-popup__title {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px; }
  .success-popup {
    width: 560px;
    margin-left: -280px;
    padding-top: 45px; }
  .success-popup__title {
    font-size: 30px; }
  .success-popup__wrapper {
    margin-bottom: 30px;
    padding-right: 120px;
    padding-left: 120px; }
  .success-popup__text {
    font-size: 18px; }
  .success-popup__btn-wrapper {
    padding: 44px 120px; }
  .success-popup__btn {
    width: 300px; } }

@media (min-width: 1200px) {
  .error-popup {
    width: 540px;
    height: 260px;
    margin-left: -390px;
    padding-top: 50px;
    padding-right: 120px;
    padding-left: 120px; }
  .error-popup__text {
    width: 360px;
    margin: 0 auto;
    margin-bottom: 80px;
    font-size: 18px;
    line-height: 30px; }
  .success-popup {
    width: 760px;
    margin-left: -380px;
    padding-top: 60px; }
  .success-popup__wrapper {
    width: 450px;
    margin: 0 auto;
    margin-bottom: 40px; }
  .success-popup__title {
    margin-bottom: 50px; }
  .success-popup__btn {
    width: 450px; }
  .success-popup__btn-wrapper {
    padding-top: 50px;
    padding-bottom: 50px; } }

.social ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.social li {
  display: inline-block; }

.social a {
  display: inline-block;
  width: 46px;
  height: 45px;
  border: 3px solid #e9ebec;
  border-radius: 50%; }
  .social a:hover {
    border: 3px solid #000000; }
  .social a:active {
    opacity: 0.3; }

.social__link--tw {
  background-image: url(../img/social__tw.svg);
  background-size: 18px; }

.social__link--fb {
  background-image: url(../img/social__fb.svg);
  background-size: 9px; }

.social__link--youtube {
  background-image: url(../img/social__youtube.svg);
  background-size: 15px; }

.social__link--fb,
.social__link--tw,
.social__link--youtube {
  background-repeat: no-repeat;
  background-position: center center; }

.page-footer {
  display: none; }

.inner-page .page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 220px;
  padding-top: 37px;
  padding-bottom: 36px;
  padding-right: 20px;
  padding-left: 20px; }

.copyright__htmlacademy {
  cursor: pointer;
  margin-top: 5px;
  fill: #d22856; }
  .copyright__htmlacademy:hover {
    fill: #283645; }
  .copyright__htmlacademy:active {
    opacity: 0.3; }

.copyright__text {
  margin-right: 10px;
  font-weight: normal;
  font-size: 14px;
  vertical-align: 40%;
  color: #283645; }

@media (min-width: 768px) {
  .page-footer {
    display: flex;
    justify-content: space-between;
    height: 40px;
    padding-top: 36px;
    padding-right: 60px;
    padding-bottom: 51px;
    padding-left: 60px; }
  .inner-page .page-footer {
    flex-direction: row;
    height: 40px;
    padding-top: 36px;
    padding-bottom: 51px;
    padding-right: 60px;
    padding-left: 60px; } }

@media (min-width: 1200px) {
  .page-footer {
    padding-left: 120px;
    padding-right: 120px; }
  .inner-page .page-footer {
    padding-left: 120px;
    padding-right: 120px; } }
