body {
  font-family: Lato, sans-serif;
  color: #34495e;
  font-size: 18px;
  margin: 0;
  background-color: #eeeeee;
  overflow-x: hidden;
}

/*
----------------------------
NAVIGATION
----------------------------
*/
nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 10;
}

nav ul {
  display: flex;
  width: 80%;
  height: 40px;
  padding: 0;
  margin: 0;
}

nav li {
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-basis: 100%;
  position: relative;
  list-style: none;
  background-color: #e0e1e2;
}

nav li:first-child {
  border-radius: 6px 0 0 6px;
}

nav li:last-child {
  border-radius: 0 6px 6px 0;
}

nav li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-decoration: none;
  font-size: 18px;
  color: rgba(0, 0, 0, .80);
}

nav li:hover {
  color: rgba(0, 0, 0, 1);
}

nav li:hover {
  background-color: #cacbcd;
}

nav li a:link,
nav li a:visited {
  color: #565656;
}

nav li a::-moz-focus-inner {
  border: 0;
}

.defaultNav {
  background-color: #c0c1c2;
}

/*
----------------------------
RESISTOR
----------------------------
*/
#calculator {
  position: relative;
  width: 900px;
  height: 150px;
  margin: 0 auto;
}

svg {
  overflow: visible;
}

#values {
  position: absolute;
  float: right;
  top: 65%;
  transform: translate(0, -58px);
  left: calc(300px + 30%);
  transition: .25s transform ease-in-out, .25s left ease-in-out;
  overflow: hidden;
  white-space: nowrap;
}

#resistor-base {
  opacity: 0;
}

#resistor-base svg {
  position: absolute;
  top: 50%;
  /*transform: translate(0, -50%);*/
  max-width: 300px;
  min-width: 110px;
}
#resistor-base svg.linessvg {margin-top: -15px;}

#resistor {
  height: 100%;
}

#res-value,
#tolerance-value,
#ppm-value {
  margin: 0;
  font-weight: 400;
  transition: .25s font-size ease-in-out;
}

#res-value {
  font-size: 2em;
}

/*
----------------------------
RESISTOR - IMAGE
----------------------------
*/
.color-band {
  fill: none;
  stroke-width: 7px;
}

.lines, .arrow {

  fill: none;
  stroke-width: 2.5px;
  stroke-linecap: round;
  stroke: #afafaf;
}

/*
----------------------------
BUTTONS
----------------------------
*/
#button-container {
  position: relative;
  width: 900px;
  margin: 35px auto;
}

.buttons {
  width: 100%;
  display: grid;
  grid-gap: .5vmin;
}

.three-band-buttons {
  grid-template-columns: .66fr 2fr 2fr 2fr;
}

.four-band-buttons {
  grid-template-columns: .66fr 2fr 2fr 2fr 2fr;
}

.five-band-buttons {
  grid-template-columns: .66fr 2fr 2fr 2fr 2fr 2fr;
}

.six-band-buttons {
  grid-template-columns: .66fr 2fr 2fr 2fr 2fr 2fr 2fr;
}

.btn {
  background-color: #333;
  cursor: pointer;
  color: #fff;
  border-radius: 8px;
  opacity: .95;
}

.btn, .title {

  text-align: center;
  height: 40px;
  line-height: 40px;
}

#buttons .band-multi:last-of-type {
  color: #0e4;
}

.btn:hover {
  box-shadow: inset 0px 0px 0px 3px #333;
  opacity: 1;
}

.selected {
  box-shadow: inset 0px 0px 0px 3px #000;
  opacity: 1;
}

.multiplier,
.tolerance {
  font-size: 16px;
}

.title, .color {

  font-size: 20px;
  color: #666;
  margin: 0;
}

.color {
  height: 40px;
  line-height: 40px;
  text-align: right;
  padding-right: 20px;
}

@supports (display: -webkit-flex) {
  .btn:nth-child(7n-9) {
    line-height: 25px;
  }
}

@media only screen and (max-width: 1080px) {
  nav ul {
    width: 100%;
    height: 40px;
  }

  #button-container {
    width: calc(100% - 1.5vmin);
  }

  #values {
    transform: translate(0, -46px);
    left: calc(300px + 22%);
  }

  #calculator {
    width: 100%;
    height: 150px;
  }

  #res-value {
    font-size: 2rem;
  }

  #tolerance-value {
    font-size: 1rem;
  }

  #ppm-value {
    font-size: 1.3rem;
  }


  .btn, .title {
    text-align: center;
    height: 35px;
    line-height: 35px;
  }

  .color {
    height: 35px;
    line-height: 35px;
    padding-right: 10px;
  }






}











@media only screen and (max-width: 680px) {
  body {
    font-size: 1.0em;
  }

  nav ul {
    width: 100%;
    height: 40px;
  }

  #values {
    transform: translate(0, -35px);
    left: calc(70%);
  }

  #res-value {
    font-size: 1.2rem;
  }

  #ppm-value {
    font-size: 1rem;
  }

  #tolerance-value {
    font-size: 0.8rem;
  }


  .btn, .title {
    text-align: center;
    height: 30px;
    line-height: 30px;
  }

  .color {
    height: 30px;
    line-height: 30px;
    padding-right: 10px;
  }
  #calculator {margin-top: -20px;}
}

@media only screen and (max-width: 580px) {
  #values {
    transform: translate(0, -29px);
    left: calc(55%);
  }
  .color {
    opacity: 0; width:0px;
  }

  .three-band-buttons {
    grid-template-columns: .0fr 2fr 2fr 2fr;
    margin-left: -8px;
  }
  .four-band-buttons {
    grid-template-columns: .0fr 2fr 2fr 2fr 2fr;
    margin-left: -8px;
  }
  .five-band-buttons {
    grid-template-columns: .0fr 2fr 2fr 2fr 2fr 2fr;
    margin-left: -8px;
  }
  .six-band-buttons {
    grid-template-columns: .0fr 2fr 2fr 2fr 2fr 2fr 2fr;
    margin-left: -8px;


  }
  #resistor-base svg.linessvg {margin-top: -10px;}
  #button-container {margin: 45px auto;}
  #calculator {margin-top: -30px;}

}
@media only screen and (max-width: 520px) {
  #values {
    transform: translate(0, -20px);
    left: calc(60%);


  }

  #resistor-base svg.linessvg {margin-top: -8px;}
  #calculator {margin-top: -40px;}
}
  .lines {
    stroke-width: 1.5px;


  }
@media only screen and (max-width: 320px) {

  #resistor-base {
    position: relative;
  }

  #resistor-base .ctl {
    width: 110px;
    top: 66px;
    left: -5px;
  }

  #resistor-base .lins {
    top: 26px;
  }

  #button-container {
    margin: 10px auto;
  }

  #values {
    transform: translate(0, -37px);
    left: calc(54%);
  }

  .sixband #values {
    left: calc(45%);
  }

  #res-value {
    font-size: 16px;
  }

  #ppm-value {
    font-size: 12px;
  }

  #tolerance-value {
    font-size: 8px;
  }
  #resistor-base svg.linessvg {margin-top: -5px;}
  #calculator {margin-top: -50px;}
}
@media screen and (max-width: 200px) {
  body {
    font-size: 0.6em;
}
nav li a {
  font-size: 12px;
}
.title {
  font-size: 16px;
}
}
